<h2>Create a new auction</h2>
<form method="post">
    <label>Title</label>
    <input name="Title"/>
    <br />
    <label>Description</label>
    <input name="Description"/>
    <br />

    <label>
        Actual Amount
    </label>
    <input name="ActualAmount"/>
    <br />

    <label>
        Starting Time
    </label>
    <input name="StartingTime"/>
    <br />

    <label>
        Ending Time
    </label>
    <input name="EndingTime"/>
    <br />

    <button>Submit</button>
</form>